# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
wow-lookup/node_modules
wow-lookup/.pnp
.pnp.js

# testing
wow-lookup/coverage

# production
wow-lookup/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#flask
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.env

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
