.body,
.footer {
  background-color: #282c34;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}


#lookup-form {
  width: 100%;
  text-align: center;
}

.header-title {
  width: 100%;
  text-align: center;
  margin-left: -3%;
}

#io_url {
  height: 30px;
  width: 50%;
  font-size: 20px;
  border-radius: 25px;
  padding: 25px;
  margin-right: 20px;
}

.footer-container>footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-container>footer>div {
  text-align: center;
  color: white;
}

.footer-container {
  opacity: 90%;
}

footer {
  padding: 20px;
}

.nav_tab {
  display: flex;
  flex: auto;
}
div div nav div div div div .home-button-section{
  font-weight: bold;
  font-size: large;
  color:#282c34 !important;
}

.error-p{
  color: red;
  width: 54%;
}