#root {
  font-family: Verdana, Helvetica, sans-serif
}

.body,
.footer {
  background-color: rgb(33, 33, 33);
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}


#lookup-form {
  width: 100%;
  text-align: center;
}

.header-title {
  width: 100%;
  text-align: center;
  margin-left: -3%;
}

#io_url {
  height: 30px;
  width: 50%;
  font-size: 20px;
  border-radius: 25px;
  padding: 25px;
  margin-right: 20px;
}

.footer-container>footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-container>footer>div {
  text-align: center;
  color: white;
}

.footer-container {
  opacity: 90%;
}

footer {
  padding: 20px;
}

.nav_tab {
  display: flex;
  flex: auto;
}
div div nav div div div div .home-button-section{
  font-weight: bold;
  font-size: large;
  color:#282c34 !important;
}

.error-p{
  color: red;
  width: 54%;
}

.summary-main{
  width: 90%;
}

.raiderIO-section{
  display: flex;
}

.best-keys, .recent-keys{
  flex-direction: column;
}

.best-keys{
  flex: 1.5;
}

.recent-keys{
  flex: 1;
}

.flex-seperator{
  flex:0.2;
}
.hidden{
  visibility: hidden;
  margin-bottom: -21px;
}

.multi-button-tab{
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: -24px;
}

.rankIcons{
  width:90px;
  height:90px;
}

.pvpRankInfoContainer{
  display: flex;
  margin-bottom:40px;
}

.pvpText{
  margin-left: 30px;
  margin-top: 20px;
}

@media (max-width: 1557px) {
  .raiderIO-section {
    display: inline;
  }
}

.a-clicked-no-change:visited{
  color:white;
}

.a-clicked-no-change{
  color:white;
}

.pvp-achiev-desc{
  display: block;
  font-size: 21px;
  margin-top: -6px;
  margin-left: 14px;
}

.wowlogs-ilvl-average-parse{
  margin-top:-2em;
}